<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signin_page</title>
    <link rel="stylesheet" href="../stylesheets/signup.css"  type="text/css">
    
</head>
<body class="fullpic" style="background-image:url('../images/login1.jpg">
    <div class="container ">
        
            <div class="login_page ">
                <table class="tab ">
                    <tr>
                    <td class="heading ">SIGNUP<td>
                     </tr>
                     <tr>
                        <br>
                        <td class="subheading">Enter your E-mail and password!</td>
                    </tr>
                </table>
                <div class="rightsec ">
                    <form id="signupform "  action="/register" method="post">
                        <input name="mail" class="mail" type="email" placeholder="Email">
                        <br>
                        <br>
                        <input name="pwd" class="pwd" type="password" placeholder="Password">
                        <br>
                        <br>
                        <br>
                        <br>
                        <button class="loginbtn" type="submit">REGISTER</button>
                    </form>
                </div>
                    <br>
                    <br>
                    <br>

            </div>
        
    </div>

</body>
</html>