<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login_page</title>
    <link rel="stylesheet" href="../stylesheets/login.css"  type="text/css">
</head>


<body class="fullpic" style="background-image:url('../images/login.jpg')">
    <div class="container ">
        
            <div class="login_page ">
                <table class="tab ">
                    <tr>
                    <td class="heading ">LOGIN</td>
                     </tr>
                     <tr>
                        <td class="subheading">please enter your login and password!</td>
                    </tr>
                </table>
                <div class="rightsec ">
                    <form id="signupform" action="/submit" method="post" >
                        <input name="mail" class="mail" type="email" placeholder="Email">
                        <br>
                        <br>
                        <input name="pwd" class="pwd" type="password" placeholder="Password">
                        <br>
                        <br>
                        <a class="fgt-btn" href="../signup.hbs">Forgot password?</a>
                        <br>
                        <br>
                        <br>
                        <button class="loginbtn" type="submit">LOGIN</button>
                        <br>
                        <br>
                    </form>
                </div>
                <div class="foot">
                    <p class="footer">Don't have an account? <a class="footer2" href="../signup.hbs">Signup</a></p>
                    
                </div>

            </div>
        
    </div>

</body>